{
  "env": {
    "test": {
      "presets": [
        "env"
      ]
    },
    "production": {
      "presets": [
        "env",
        {
          "targets": {
            "browsers": "last 2 versions, > 1%, ie >= 9, Android >= 4.3, iOS >= 8",
            "node": "6.10"
          },
          "modules": false,
          "loose": false
        }
      ],
      "plugins": [
        ["transform-runtime", {
          "helpers": false,
          "polyfill": false,
          "regenerator": false,
          "moduleName": "babel-runtime"
        }]
      ]
    }
  }
}
